<%= form_for(@book) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <%= f.text_field :title, :placeholder => "title" %></br>

  <%= f.text_field :authors, :placeholder => "authors" %></br>

  <%= f.text_field :identifier, :placeholder => "isbn" %></br>

  <%= f.text_field :identifier_type, :placeholder => "isbn10/13/ASIN/Olid/Other" %></br>

  <%= f.text_field :publisher, :placeholder => "publisher" %></br>

  <%= f.text_field :img_url, :placeholder => "image url" %></br>

  <div><%= f.hidden_field :creator_id %></div>

	<%= f.submit %>
	<%= link_to "Search a book ...", "#", class: "btn btn-large" %>
<% end %>

	